@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
	--primary-color: #0496f7;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	cursor: pointer;
}

.p-x {
	padding: 0 2rem;
}
