{% extends 'base.html' %} {% block container %}
<!-- Page Content -->
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<h2 class="mt-4 mb-3">Daily Blogs</h2>

	<div class="card mb-4">
		<h5 class="card-header">Limit Blog Post (Default is 10)</h5>
		<div class="card-body">
			<form method="GET" class="input-group">
				<input
					required
					type="number"
					name="limit"
					min="1"
					max="100"
					class="form-control"
					placeholder="Search for..."
				/>
				<span class="inpug-group-append">
					<button class="btn btn-secondary" type="submit">Go!</button>
				</span>
			</form>
		</div>
	</div>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item active">Blog Home 2</li>
	</ol>

	{% for post in posts %}

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<a href="/posts/{{post.id}}">
						<img
							class="img-fluid rounded"
							src="http://placehold.it/750x300"
							alt=""
						/>
					</a>
				</div>
				<div class="col-lg-6">
					<h2 class="card-title">{{post.title}}</h2>
					<p class="card-text">{{post.body}}</p>
					<a href="/posts/{{post.id}}" class="btn btn-primary"
						>Read More &rarr;</a
					>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			Posted on November 1, 2020 by
			<a href="#">Joe Biden</a>
		</div>
	</div>

	{% endfor %}

	<!-- Pagination -->
	<nav aria-label="Page navigation example">
		<ul class="pagination overflow-auto">
			{% for page in pagination %}
			<li class="page-item">
				<a
					class="page-link {% if page == active %} text-white bg-info {% endif %}"
					href="/posts?limit={{limit_post}}&start={% widthratio page 1 limit_post %}"
					>{{page}}</a
				>
			</li>
			{% endfor %}
		</ul>
	</nav>
</div>
<!-- /.container -->
{% endblock container %}
