{% extends 'base.html' %} {% block container %}
<!-- Page Content -->
<div class="container" style="min-height: 80vh">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">
		Login
		<small>Form</small>
	</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">Login</li>
	</ol>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-4 mb-4">
			<form method="POST" novalidate>
				{% csrf_token %}
				<div class="control-group form-group">
					<div class="controls">
						<label>Username*</label>
						<input
							name="username"
							type="text"
							class="form-control"
							id="username"
							required
							data-validation-required-message="Please enter your username."
						/>
						<p class="help-block"></p>
					</div>
				</div>
				<div class="control-group form-group">
					<div class="controls">
						<label>Password*</label>
						<input
							type="password"
							class="form-control"
							id="password"
							name="password"
							required
							data-validation-required-message="Please enter your password."
						/>
					</div>
				</div>
				<div id="success">
					{% for message in messages %} {{message}} {% endfor %}
				</div>
				<!-- For success/fail messages -->
				<button type="submit" class="btn btn-primary" id="login-btn">
					Login
				</button>
			</form>
		</div>
	</div>
	<h4 class="mt-3">
		Already have an account? <a href="{% url 'login' %}">Login</a>
	</h4>
	<!-- /.row -->
</div>
<!-- /.container -->
{% endblock container %}
