{% extends 'base.html' %} {% block container %} {% load crispy_forms_tags %}
<!-- Page Content -->
<div class="container" style="min-height: 80vh">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">
		Register
		<small>Form</small>
	</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">Register</li>
	</ol>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-4 mb-4">
			<form method="POST" action="">
				{{ user_form|crispy }} {% csrf_token %}

				<div id="success">
					{% for message in messages %} {{message}} {% endfor %}
				</div>

				<button type="submit" class="btn btn-primary" id="login-btn">
					Register
				</button>
			</form>
		</div>
	</div>
	<!-- /.row -->
</div>
<h4>Already have an account? <a href="{% url 'login' %}">Login</a></h4>
<!-- /.container -->
{% endblock container %}
