.root {
	flex-grow: 1;
	z-index: 1000;
	background: var(--primary-color);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in;
}

.root button:hover,
.headerActive button:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5);
}

.headerActive {
	flex-grow: 1;
	z-index: 1000;
	background: var(--primary-color);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #042f5ff1;
	transition: all 0.3s ease-in;
}

.title {
	flex-grow: 1;
	position: relative;
	transition: 0.3s ease-in;
}

.title:hover {
	color: rgb(0, 0, 0);
	transform: translateY(-1px);
}

.title span {
	text-transform: uppercase;
	font-size: 1.32rem;
}

.title__image {
	height: 30px;
	z-index: 100;
}

.title__text {
	position: absolute;
	z-index: 1;
	top: 0.3rem;
	left: 0.5rem;
	color: #034294e0;
}
